
/* topnav */
#topnav{
  background: rgb(11, 65, 11);
  color: white;
}

/* navbar */
.navbar .nav-item .nav-link{
  color: black;
}
.navbar .navbar-brand h3{
  color: rgb(11, 65, 11);
  padding-left: 10rem;
}
.navbar .icons i{
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1.2rem;
}

/* image */
#image{
  height: 80vh;
  background-image: url(/Assets/img/backgroundimage.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#image{
  padding-top: 15rem;
  padding-left: 10rem;
}
#image h3{
  font-weight: 700;
  font-size: 2rem;
}
#image button{
  background: #fff;
  border-color: #fff;
}

/* shop */
.shop .btn button{
  background: rgb(151, 89, 67) ;
  border-color:rgb(151, 89, 67);
}

/* impact */
.impact{
  background: #f8f5f5 !important;
  padding-top: 3rem;
  margin-top: 3rem;
}
.impact .img img{
  height: 80vh ;
  width: 80vh ;
}
.impact .text{
  padding-top: 8rem;
}
.impact .btn button{
  background: rgb(151, 89, 67) ;
  border-color:rgb(151, 89, 67);
}

/* gift */
.gift{
  background:  rgb(11, 65, 11);
  color: #fff;
  padding-top: 4rem;
  height: 40vh;
}
.gift .text p{
  font-style: italic;
}

/* footer */
.footer .social-icons{
  padding-top: 5rem;
}
.footer .social-icons i{
  font-size: 2rem;
  padding: .7rem;
  color: rgb(11, 65, 11);
}




.btn{
  border-radius: 0 !important;
}
.card{
  border-radius: 0 !important;
}
  



@media only screen and (max-width:520px){
  /* image */
  #image{
    padding-top: 15rem !important;
    padding-left: 2rem !important;
  }

  /* impact */
  .impact .img img{
    height: 50vh ;
    width: 50vh ;
  }
}